
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #90a2ac;
}




::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.container {
  position: relative;
  max-width: 480px;
  border-radius: 10px;
  padding: 25px;
  margin: 85px auto ;
  background-color:#b2dfdc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
 .input-field {
  position: relative;
  height: 64px;
  width: 100%;
}
.input-field textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  padding-top: 19px;
  padding-left: 20px;
  border: 2px solid #29a59a;
  resize: none;
}
.input-field textarea:focus {
  border-color: #10cebb;
}
textarea::-webkit-scrollbar {
  display: none;
}
.input-field .note-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 24px;
  color: #29a59a;
}
.input-field textarea:focus ~ .note-icon {
  color: #10cebb;
}
.todoLists {
  max-height: 880px;
  overflow-y: auto;
  padding-right: 12px;
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: white;
  padding: 20px 15px;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}
.list input {
  height: 16px;
  min-width: 16px;
  accent-color: #27a69b;
  pointer-events: none;
}
.task {
  margin: 0 30px 0 15px;
  word-break: break-all;
}
.list input:checked ~ .task {
  text-decoration: line-through;
}
 .list i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #29a59a;
  padding: 5px;
  opacity: 0.6;
  display: none;
}
.todoLists .list:hover i {
  display: inline-flex;
}
.todoLists .list i:hover {
  opacity: 1;
}
.container .pending-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.pending-tasks span {
  color: black;
}
.pending-tasks .clear-button {
  padding: 6px 12px;
  outline: none;
  border: none;
  background: #27a69b;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: none;
  white-space: nowrap;
}
.clear-button:hover {
  background-color: #10cebb;
}

